.jumbotron {
	background-color: blue;
	color: white;
}

.footer{
	padding:10px 10px 0 10 px;
	background-color: blue;
	margin-bottom: 0px;
	margin-top: 10px;
	color:white;
}

.card-producto{
	flex: 1 150px;
	padding: 2px 5px 2px 2px;
	margin-top: 10px;
	color:black;
}

.btn-comprar{
	width: 100%;
}